<nav class="navbar navbar-expand-lg bg-dark sticky-top navbar-home">
      <a class="navbar-brand text-white mx-3" href="/">APLPHA BLOG</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills me-auto mb-2 mb-lg-0 underLineAni d-flex gap-4">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "text-decoration-none nav-link text-white p-0" %>
          </li>
          <li class="nav-item">
            <%= link_to "Articles listing", articles_path, class: "text-decoration-none nav-link text-white p-0" %>
          </li>
          <li class="nav-item">
            <%= link_to "About page", about_path, class: "text-decoration-none nav-link text-white p-0" %>
          </li>
          <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Create New Article", new_article_path, class: "text-decoration-none nav-link text-white p-0" %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Bloggers", users_path, class: "text-decoration-none acitve nav-link text-white p-0" %>
          </li>
        </ul>

        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->

        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle mx-4" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <% if logged_in? %>
              <%= current_user.username %>
            <% else %>
              Account
            <% end %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if logged_in? %>
              <% if current_user.admin? %>
                <li><span class="dropdown-item">(Admin)</span></li>
              <% end %>
              <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete %></li>
              <li><%= link_to "Delete Profile", user_path(current_user), class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
            <% else %>
              <li><%= link_to "Login", login_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign up", signup_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </div>

        
      </div>
 </nav>

